# Do not track the following files

# Test notebook
**.ipynb

src/hyperparameter_optimization.py

# Logs files folder
src/*logs*

# The virtual environment folder
venv
thesis_venv

# Python cache
**__pycache__
*.log
*.pyc

# MacOS specific files
**/.DS_Store
./DS_Store

# Windows specific files
**/Thumbs.db
./Thumbs.db

# Jupyter notebook checkpoints
**/.ipynb_checkpoints

# Datasets
data/*/
data/*.zip
!data/results/

# Specific results
data/**/*80_20_*
figs/**/*80_20_*

data/**/*30_10_*
figs/**/*30_10_*

# Json files in src folder
src/**.json

# Sbatch files
src/**.sh
