# Do not track the following files

# Test notebook
**.ipynb

src/hyperparameter_optimization.py

# Logs files folder
src/logs

# The virtual environment folder
venv

# Python cache
**__pycache__
*.log
*.pyc

# MacOS specific files
**/.DS_Store
./DS_Store

# Windows specific files
**/Thumbs.db
./Thumbs.db

# Jupyter notebook checkpoints
**/.ipynb_checkpoints

# Datasets
data/*
!data/results

# Json files in src folder
src/**.json

# Sbatch files
src/job.sh
